.input{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-bottom:10px;

    button{
        background-color: #1d2c3f;
        color: white;
        width: 300px;
    }
}