<div class="contenedor">
        <div class="agregarLiga">
                <div class="barra">
                        <p>Agregar una nueva Liga</p>
                </div>
                <div class="formulario">
                        <div class="input">
                                <input type="text" placeholder="Nombre de la Liga">
                        </div>
                        <div class="input">
                                <input type="file" placeholder="Logo de la Liga">
                        </div>
                        <div class="input">
                                <button>Agregar Liga</button>
                        </div>
                </div>
        </div>
        <div class="agregarLiga">
                <div class="barra">
                        <p>Ligas Agregadas</p>
                </div>
               <div class="contenedorLigas">
                <div class="card" *ngFor="let liga of todasLasLigas">
                        <div class="logoLiga">
                                <img [src]="liga.imgUrl" alt="">
                        </div>
                        <div class="nombreLiga">

                                <p>{{liga.name}}</p>
                        </div>
                </div>
               </div> 
        </div>
</div>