<div class="contenedor">
        <div class="formagregarLiga">
                <div class="barra">
                        <p>Agregar una nueva Liga</p>
                </div>
                <div class="formulario">
                        <div class="input">
                                <input type="text" placeholder="Nombre de la Liga" [(ngModel)]="nameLiga" >
                        </div>
                        <div class="input">
                                <input type="file" (change)="uploadFile($event)" placeholder="Logo de la Liga">
                        </div>
                        <app-shorti-button (click)="createLiga()"></app-shorti-button>
                </div>
        </div>
        <div class="agregarLiga">
                <div class="barra">
                        <p>Ligas Agregadas</p>
                </div>
               <div class="contenedorLigas">
                <div class="card" *ngFor="let liga of todasLasLigas">
                        <div class="logoLiga">
                                <img [src]="liga.imgUrl" alt="">
                        </div>
                        <div class="nombreLiga">

                                <p>{{liga.name}}</p>
                        </div>
                </div>
               </div> 
        </div>
</div>