<div class="menu">
    <div class="titulo">
        <img src="assets/shorti-logo.png" alt="">
        <h1>Shorti</h1>
    </div>

    <div class="option" (click)="mostrarLiga()">
        <p>Administrar Ligas</p>
    </div>
    <div class="option" (click)="mostrarEquipo()">
        <p>Administrar Equipos</p>
    </div>
    <div class="option" (click)="mostrarPartidos()">
        <p>Administrar partidos</p>
    </div>
    <div class="option" (click)="mostrarSorteos()">
        <p>Administrar Sorteos</p>
    </div>
    <div class="option" (click)="mostrarRetiros()">
        <p>Administrar Retiros</p>
    </div>
    <div class="option" (click)="mostrarUsuarios()">
        <p>Administrar Usuarios</p>
    </div>
            
</div> 